---
layout: default
---

<section class="hero-view">
  <h1>We're getting married!</h1>
</section>

<section>
  <h1>How we met</h1>
  <p>lorem ipsum</p>
</section>

<section>
  <h1>Wedding party</h1>
  <h2>Bride's party</h2>
    <div class="wedding-party">
      {% for member in site.data.bride-party %}
        {% include wedding_member.html
	  member=member
        %}
      {% endfor %}
    </div>
  <h2>Groom's party</h2>
    <div class="wedding-party">
      {% for groom-member in site.data.groom-party %}
        {% include wedding_member.html
	  member=groom-member
        %}
      {% endfor %}
    </div>
</section>

<section>
  <h1>About this website</h1>
  <p>lorem ipsum</p>
</section>
