/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

body {
  background-color: white;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: 0.1em;
 text-transform: uppercase;
}

h1 {
  padding-top: 50px;
}

h2 {
  padding-top: 30px;
}

a {
  color: navy;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

section {
      text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h1 {
 font-size: 2.5rem;
}

/*==============================
  Navigation
*===============================*/

#luxbar {
  position: fixed;
  background: transparent;
  width: 100%;

  .luxbar-menu-center {
    .luxbar-navigation {
      justify-content: center
    }
  }

  .luxbar-checkbox:checked ~ .luxbar-menu {
    background-color: rgba(224, 224, 224, 1);
  }

}

/*
.nav-container {
  display:flex;
  position:fixed;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;

  .nav-list {
    display: flex;
      a {
        padding: 10px;
        text-transform: uppercase;
      }
  }
}
*/
.content {
  section:first-child {
    &:not(.hero-view) {
      padding-top: 100px;
    }
  }  
}

/*==============================
  Main page
*===============================*/

.hero-view {
  height: 100vh;
  color: white; 
  background-image: url("/assets/images/engagement/1.jpg");
  background-size: cover;
  h1 {
    font-size: 4rem;
    padding: 20px;
  }
}

.bouncing-arrow {
  animation-name: bouncing-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes bouncing-arrow {
  from {
    transform: translate(-50%, 0)
  }
  65% {
    transform: translate(-50%, 15px)
  }
  to {
    transform: translate(-50%, 0)
  }
}

.down-arrow-container {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  height:30px;
  width:30px;
  svg {
    fill: white;
  }
}

.wedding-party {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wedding-party-member {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    width: 150px;
    height: 150px;
    border-radius:50%;
    object-fit: cover;
  }
  .wedding-member-description {
    padding: 30px;
    width: 200px;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
